footer {
	background:$drkGray;
	padding:2rem;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-content: center;

	@include mobile {
		padding:1rem 2rem;
	}

	&:after {
		content:"";
		display:block;
		clear:both;
	}


	.footer-branding__name {

		svg#jb_logo {
			max-width: 300px;
			margin: 0 auto;
			display: block;
			g {
				path{
					fill: $ltPurple;
				}
			}
		}

		@include tablet {
			float:none;
			width:70%;
			display:block;
			margin:1rem auto;
		}
		@include mobile {
			width:90%;
		}

		.footer-wave_line {
			height:15px;
			max-width: 300px;
			display: block;
			margin: 1rem auto;
			#wave {
				path {
					fill: $ltPurple;
				}
			}
		}
	}

	.footer-branding__social-media {

		.social-title {
			padding:1rem;
			font-size: 2rem;
			@include gothic();
			display:block;
			text-align:center;
			text-transform:capitalize;
			color: $ltPurple;

			@include mobile {
				font-size:1.2rem;
			}
		}
		.icons {
			color:$ltPurple;
			text-align:center;

			i {
				font-size:2.2rem;
				background:transparent;
				margin: .5rem 1rem;
				border:solid thin $ltPurple;
				border-radius: 50%;
				width: 65px;
				height: 65px;
				padding-top: .85rem;
				display:inline-block;
				transition:all .3s ease-out;

				&:hover {
					background:$ltPurple;
					color:$drkGray;
					border:solid thin $drkGray;
				}

				@include mobile {
					margin:1rem;
				}

			}
		}
	}
 }
